/**/.*
/**/.psa*
/**/.psc-package/
/**/.psc*
/**/.purs*
/**/.spago
!/.gitignore
!/.eslintrc.json
!/.travis.yml
package-lock.json
/**/bower_components/
/**/dist/
/**/generated-docs/
/**/node_modules/
/**/output/